[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SBOAtools"]
	path = SBOAtools
	url = https://github.com/burakdilber/sboatools
[submodule "metANN"]
	path = metANN
	url = https://github.com/burakdilber/metann
